{% extends 'rest_framework_swagger/base.html' %}
{% load staticfiles %}
{% block title %}API UI{% endblock %}
{% block header %}
<style>
    body {
        margin: 0 0 25px 0;
    }

    #header {
        background-color: #36465D;
    {#        background-image: url({% static 'public/img/main-bg.jpg' %});#}
    }

    #django-rest-swagger {
        background-color: #2A323E;
    {#        background-image: url({% static 'public/img/main-bg.jpg' %});#}
    }
</style>
    <div id="header">
        <div class="swagger-ui-wrap">
            {% block branding %}
            <img src="https://storage.googleapis.com/util_services/util.services%20white%20color.png" width="20%" height="1%">
            {% endblock %}
            {% block api_selector %}{% endblock %}
        </div>
    </div>
{% endblock %}
{% block django_rest_swagger %}
    <div id="django-rest-swagger">
        <div class="swagger-ui-wrap">
            <a href="https://shahbendar.com" target="_blank">Powered by shahbendar.com</a>
        </div>
    </div>
{% endblock %}
<script src="{% static 'public/js/googleAnalytics.js' %}"></script>